html{
    font-size: 10vw;
}
body{
    font-size: 2.4vw;
}
/* 헤더 */
.hdrWrap header{
    height: 1rem;
    max-height: 40px;
}
.hdrWrap .logo{
    height: min(1.25rem,50px);
    max-height: 50px;
}
.hdrWrap h1{
    font-size: min(3.5em,35px);
    line-height: min(1.25rem,50px);
}
.hdrWrap .btns{
    width: 28%;
    margin-top: min(0.2rem,8px);
}
.hdrWrap .btn{
    height: 0.8rem;
    max-height: 32px;
}
/* 메인 */
.mainWrap{
    padding-top: min(3.75rem,150px);
    padding-bottom: min(1.25rem,50px);
}
main{
    width: 90%;
    max-width: 1024px;
}
main h2{
    font-size: min(4em,40px);
    line-height: min(1.5rem,60px);
}
main h3{
    font-size: min(2.5em,25px);
    line-height: min(1rem,40px);
    margin-left: 90px;
    margin-top: -20px;
}
main h4{
    font-size: min(1.5em,15px);
    margin-left: 12%;
}
/* 배너 */
.left h2{
    font-size: min(3.5em,32px);
}
.right{
    padding: 20px 0px 20px 20px;
    padding-top: min(0.5rem,20px);
    padding-bottom: min(0.5rem,20px);
}
.right h5{
    font-size: min(1.2em,12px);
    line-height: min(1rem,40px);
}
h5 span{
    top: -5px;
}
/* 배너2 */
.banner.bnr02 h2 span{
    font-size: min(3em,30px);
}
.banner.bnr02 h2{
    font-size: min(2.4em,24px);
}
.banner.bnr02 .bottom{
    margin-top: min(0.5rem,20px);
}
.banner.bnr02 .images .image.i1{
    background-image: none;
    width: 80%;
    margin: 0 auto;
    min-width: 0;
    height: min(5rem,200px);
}
.banner.bnr02 .image.i1 span:nth-child(1){
    left: 15%;
    top: 0.5rem;
}
.banner.bnr02 .image.i1 span:nth-child(2){
    left: 15%;
    top: 1.5rem;
}
.banner.bnr02 .image.i1 span:nth-child(3){
    left: 15%;
    top: 2.5rem;
}
.banner.bnr02 .image.i1 span:nth-child(4){
    left: 15%;
    top: 3.5rem;
}
.banner.bnr02 .image.i1 span:nth-child(5){
    right: 25%;
    left: auto;
    top: 0.5rem;
}
.banner.bnr02 .image.i1 span:nth-child(6){
    right: 25%;
    left: auto;
    top: 1.5rem;
}
.banner.bnr02 .image.i1 span:nth-child(7){
    right: 25%;
    left: auto;
    top: 2.5rem;
}
.banner.bnr02 .image.i1 span:nth-child(8){
    right: 25%;
    left: auto;
    top: 3.5rem;
}
.banner.bnr02 .btn{
    top: min(2rem,80px);
    font-size: min(4em,40px);
}
.group p{
    font-size: min(1.4em,14px);
    line-height: min(0.5rem,20px);
}
/* 푸터 */
.ftrWrap{
    margin-top: min(1rem,40px);
}
.ftrTop{
    height: 0.7rem;
    max-height: 28px;
}
footer .ftrLeft{
    padding-top: min(0.5rem,20px);
    padding-bottom: min(0.5rem,20px);
}
footer .ftrRight{
    padding-top: min(0.5rem,20px);
    padding-bottom: min(0.5rem,20px);
}
footer h5{
    display: none;
}
footer .sns{
    display: inherit;
    justify-content: baseline;
    line-height: min(1rem,40px);
    font-size: min(1.5em,15px);
}
footer li:nth-child(1){
    font-size: min(1.5em,15px);
}
.top{
    margin-top: min(0.5rem,20px);
}
.btm li{
    line-height: min(1rem,40px);
}
.btm li:nth-child(1){
    margin-top: 0;
}
.ftrBtm{
    height: 1rem;
    max-height: 40px;
}
.ftrBtm h1{
    font-size: 2.5em;
    line-height: min(1rem,40px);
}
/* 네비박스 */
.navBox{
    padding: 0;
}
.navTop h1{
    font-size: min(3.5em,35px);
    line-height: min(1rem,40px);
}
.navTop .btn{
    font-size: min(3.5em,35px);
    line-height: min(1rem,40px);
}
.box{
    border: 5px solid #a4a1a3;
    height: 89vh;
    padding-left: 40px;
    margin-top: min(0.5rem,20px);
}
.navLeft{
    padding-top: min(2.5rem,100px);
    padding-bottom: min(2.5rem,100px);
}
.navLeft h2{
    font-size: min(3.5em,35px);
    line-height: min(1.5rem,60px);
}
.navLeft h2:nth-child(2):after{
    width: 90%;
    bottom: 10px;
    height: 15px;
}
.navLeft h2:hover:after{
    display: none;
}
.navRight{
    display: none;
}
.navLeft .sns{
    width: 50%;
}
.navLeft .btn{
    font-size: min(2em,20px);
}
