html{
    font-size: 4vw;
}
body{
    font-size: 1vw;
}
/* 헤더 */
.hdrWrap header{
    max-width: 1024px;
    padding: 0;
    height: 2rem;
    max-height: 80px;
}
.hdrWrap .btns{
    width: 20%;
    margin-top: min(0.5rem,20px);
}
.hdrWrap h1{
    font-size: max(4.5em,45px);
    line-height: min(2.9rem,70px);
}
.hdrWrap .btn{
    width: 50%;
    height: 1rem;
    max-height: 40px;
}
/* 메인 */
.mainWrap{
    height: 15rem;
    max-height: 600px;
    background-attachment: local;
}
/* 컨텐츠 */
.cntWrap{
    margin-top: min(1.5rem,60px);
}
.cntWrap .content{
    width: 90%;
    max-width: 1024px;
}
.cntWrap h2{
    font-size: max(3em,30px);
}
/* 컨텐츠1 */
.content.cnt01 h4{
    font-size: max(1.6em,16px);
}
.tab .image{
    height: 1.25rem;
    max-height: 50px;
}
.content.cnt01 section{
    margin-top: min(1rem,40px);
    height: 10rem;
    max-height: 400px;
}
.content.cnt01 .article{
    height: 10rem;
    max-height: 400px;
}
.content.cnt01 .article .image{
    height: 10rem;
    max-height: 400px;
}
.content.cnt01 .article .texts{
    padding-top: min(1rem,40px);
    width: 30%;
    left: 17%;
}
.content.cnt01 h3{
    font-size: max(3em,30px);
}
.content.cnt01 p{
    font-size: max(1.8em,18px);
    margin-top: min(1rem,40px);
}
.content.cnt01 .texts .btn{
    width: 100%;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: min(0.5rem,20px);
}
.content.cnt01 span{
    display: none;
}
.content.cnt01 .btn:hover .bt{
    margin-left: 30%;
}
.content.cnt01 .bt{
    margin-left: 30%;
}
.content.cnt01 .btn::after{
    right: 20%;
}
.content.cnt01 .btn:hover::after{
    right: 20%;
}
.content.cnt01 .leftBtn{
    left: 0;
}
/* 배너1 */
.bnrWrap .banner{
    width: 90%;
}
.bnrWrap:nth-child(4){
    margin-top: min(2.5rem,100px);
    padding-top: min(1rem,40px);
    padding-bottom: min(1.5rem,60px);
}
.banner.bnr01{
    height: 26rem;
    max-height: 1040px;
}
.bnrWrap .tab{
    width: 28%;
    top: min(-1rem,-40px);
    right: 3%;
}
.bnrWrap li{
    font-size: max(2.5em,25px);
}
.banner.bnr01 .image:nth-child(1){
    width: calc(100% / 8 * 3.5);
    height: 9rem;
    max-height: 360px;
    bottom: min(16rem,640px);
}
.banner.bnr01 .image.i4{
    animation-name: tab1;
    animation-duration: 3s;
}
@keyframes tab1 {
    0%{
        opacity: 0;
        bottom: min(14rem,560px);
    }
    100%{
        opacity: 1;
        bottom: min(16rem,640px);
    }
}
.banner.bnr01 .image:nth-child(2){
    width: calc(100% / 8 * 4.5);
    height: 11rem;
    max-height: 440px;
    bottom: min(10.7rem,428px);
}
.banner.bnr01 .image.i5{
    animation-name: tab2;
    animation-duration: 3.5s;
}
@keyframes tab2{
    0%{
        opacity: 0;
        bottom: min(8.7rem,348px);
    }
    100%{
        opacity: 1;
        bottom: min(10.7rem,428px);
    }
}
.banner.bnr01 .dsg{
    top: 13rem;
    height: 3rem;
    max-height: 120px;
}
.banner.bnr01 h2{
    font-size: max(8em,80px);
}
.banner.bnr01 h2:nth-child(1){
    bottom: min(0.25rem,10px);
}
.banner.bnr01 .image:nth-child(4){
    left: 10%;
}
/* 컨텐츠2 */
.cntWrap:nth-child(5){
    padding-top: min(1rem,40px);
}
.cntWrap h2{
    margin-left: 10%;
}
.content.cnt02 section{
    margin-top: min(1rem,40px);
}
.content.cnt02 .artLeft{
    height: 20rem;
    max-height: 800px; 
}
.content.cnt02 .artLeft article:nth-child(1){
    top: min(1.5rem,60px);
    width: 90%;
}
.content.cnt02 .artLeft article:nth-child(2){
    left: 0;
    width: 86%;
}
.content.cnt02 .artLeft .image.i1{
    height: 11rem;
    max-height: 440px;
}
.content.cnt02 .artLeft .image.i2{
    height: 6.8rem;
    max-height: 272px;
}
.content.cnt02 .artRight{
    height: 20rem;
    max-height: 800px;
}
.content.cnt02 .artRight article:nth-child(1){
    top: 0;
    left: auto;
    width: 95%;
}
.content.cnt02 .artRight article:nth-child(2){
    top: auto;
    bottom: 0rem;
}
.content.cnt02 .artRight .image.i1{
    height: 9.2rem;
    max-height: 368px;
}
.content.cnt02 .artRight .image.i2{
    height: 7rem;
    max-height: 280px;
}
.content.cnt02 .artRight article:nth-child(2)::before{
    bottom: min(3rem,120px);
}
.content.cnt02 .artRight .texts{
    margin-top: min(0.8rem,32px);
}
.content.cnt02 .artRight .btns{
    width: 47%;
    margin-top: min(0.5rem,20px);
}
.content.cnt02 .artRight .top{
    font-size: max(2.5em,25px);
    height: 40px;
    overflow: hidden;
}
.content.cnt02 .out{
    display: none;
}
.content.cnt02 h4{
    font-size: max(2.5em,25px);
    margin-top: 0;
}
/* 배너2 */
.banner.bnr02{
    padding-top: min(1rem,40px);
    padding-bottom: min(1rem,40px);
}
.banner.bnr02 div.play{
    height: 10rem;
    max-height: 400px;
}
.banner.bnr02 video{
    height: 10rem;
    max-height: 400px;
}
.banner.bnr02 div.play::after{
    right: -1.8%;
}
/* 배너3 */
.bnrWrap{
    margin-top: min(1.5rem,60px);
}
.group .image{
    width: calc(100% / 8 * 4);
    height: 9rem;
}
.banner.bnr03 .texts{
    margin-top: min(1rem,40px);
}
.banner.bnr03 h2{
    font-size: max(2.6em,26px);
}
.banner.bnr03 h2 span{
    font-size: max(3.5em,35px);
}
.banner.bnr03 p{
    margin-top: min(0.5rem,20px);
}
.banner.bnr03 .btn{
    display: none;
}
.banner.bnr03 h4{
    font-size: max(2.2em,22px);
    right: 21%;
}
.banner.bnr03 .btns:hover h4{
    right: 21%;
}
.banner.bnr03 .image.i1{
    margin-top: min(0.5rem,20px);
    width: 90%;
    height: 11rem;
    max-height: 440px;
}
.banner.bnr03 .image.i2{
    bottom: 7rem;
}
.banner.bnr03 .image.i3{
    margin-top: min(0.5rem,20px);
    height: 8.5rem;
    width: calc(100% / 8 * 3.5);
}
/* 푸터 */
 .ftrWrap{
    margin-top: min(1.5rem,60px);
}
footer{
    width: 90%;
    max-width: 1024px;
}
.ftrTop{
    height: 1rem;
    max-height: 40px;
}
.ftrBtm{
    height: 1.5rem;
    max-height: 60px;
}
footer li:nth-child(1)~li{
    display: none;
}
.ftrBtm h1{
    font-size: max(3em,30px);
    line-height: min(1.5rem,60px);
}
footer .ftrLeft{
    padding-top: min(1.5rem,60px);
    padding-bottom: min(1.5rem,60px);
}
footer .ftrRight{
    padding-top: min(1.5rem,60px);
    padding-bottom: min(1.5rem,60px);
}
footer p{
    display: none;
}
footer h5{
    width: calc(100% / 4 * 3);
    font-size: max(1.5em,15px);
    line-height: 20px;
    margin-left: auto;
}
footer .sns .btn:hover::after{
    display: none;
}
/* 네비메뉴 */
.navTop{
    max-width: 1024px;
}
.navBtm{
    max-width: 1024px;
    width: 90%;
}
.navLeft{
    padding-top: 25vh;
    padding-bottom: 2vh;
}
.navLeft .box{
    position: relative;
}
.navRight{
    height: 90vh;
    width: calc(100% / 8 * 4);
}
.navLeft .sns{
    position: absolute;
    width: calc(100% / 8 * 2);
    bottom: 5%;
    font-size: max(3.5em,35px);
}
.navLeft .btn:hover::after{
    display: none;
}
.navLeft .btn:hover::after{
    display: none;
}
.navLeft h2:nth-child(1):after{
    width: 59%;
}
.navLeft h2:nth-child(2):after{
    width: 40%;
}
.navLeft h2:nth-child(3):after{
    width: 40%;
}
